RedirectPermanent /index.php /
RedirectPermanent /pages/details.php /house/
RedirectPermanent /pages/history.php /story/
RedirectPermanent /pages/photos.php /photographs/
RedirectPermanent /pages/area.php /valley/
RedirectPermanent /pages/find-us.php /valley/
RedirectPermanent /pages/contact.php /
DirectoryIndex index.html
